<div class="card bg-info border border-dark border-3">
    <div class="bg-dark card-header d-flex flex-row  justify-content-between">
      <h4><a class="text-decoration-none text-warning" href="/post/{{id}}">{{title}}</a></h4>
      <p class="text-warning">Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
        <p class="card-body">{{content}}</p>
</div>